<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.exam.mapper.GoodsMapper">
 
   <!-- 상품목록 -->
   <select id="goodsList" parameterType="string" resultType="GoodsDTO">
     select bCode,
     		bCategory, 
            bName,
            bDate,
            bPrice,
            bInventory,
            bImage
     from goods
     where bCategory = #{bCategory}
   </select>
   
   <!-- 상품 자세히고비 -->
   <select id="bookedit" parameterType="string" resultType="GoodsDTO">
     select bCode,
     		bCategory, 
            bName,       
            bDate,
            bPrice,
            bInventory,
            bImage
     from goods
     where bCode = #{bCode}
   </select>
   
      <!-- 회원가입 -->
  	<insert id="bookadd" parameterType="GoodsDTO">
  	  insert into goods (bCode,
     					bCategory, 
            			bName,       
            			bDate,
            			bPrice,
            			bInventory,
            			bImage) 
  	  values(#{bCode},#{bCategory},#{bName},#{bDate},#{bPrice},#{bInventory},
  	                   #{bImage})

  	</insert>
  	
  	<delete id="bookdelete" parameterType="GoodsDTO">
       delete from goods
        where bCode=#{bCode}
    </delete>
    
    <update id="bookupdate" parameterType="GoodsDTO" >
        update goods
        set bCode = #{bCode},
     					bCategory = #{bCategory}, 
            			bName = #{bName},       
            			bDate = #{bDate},
            			bPrice = #{bPrice},
            			bInventory = #{bInventory},
            			bImage = #{bImage} 
        where  bCode = #{bCode}
     </update>
  	
   
</mapper>


